/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
docker/redis/data
docker/postgres/data
docker/node/logs
docker/nginx/logs
docker/php/logs
